@model List<MusicPortal.Models.IspolniteliWithBandsViewModel>
@{
    ViewData["Title"] = "Исполнители";
}
<div class="row" style="margin-left:20px">
    <div class="col-12">
        <div class="row">
            <div class="col-12" style="border-bottom:1px solid grey; padding-bottom:10px">
                <a asp-action="Index" asp-controller="Home" style="font-size:11px; color: grey">Главная</a>
                <a style="font-size:11px; color:grey">></a>
                <a asp-action="Index" asp-controller="Ispolniteli" style="font-size: 11px; color: grey">Исполнители</a>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-12">
                <a onclick="searchByLetter(this)" id="All" style="color:white; background-color: blue; cursor:pointer;padding-left:4px; padding-right:4px; border-radius:2px;margin-right:2px">Все</a>
                @for (char i = 'A'; i < 'Z'; i++)
                {
                    <a onclick="searchByLetter(this)" style="color:blue; cursor:pointer" id="@i">@i</a>
                }
                @for (char i = 'А'; i < 'Я'; i++)
                {
                    <a onclick="searchByLetter(this)" style="cursor:pointer;color:blue" id="@i">@i</a>
                }
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-12">
                <h5>Исполнители</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="Ispolniteli">
                @for (int i = 0; i < Model.Count(); i += 3)
                {
                    <div class="row" style="margin-top:10px">
                        @for (int j = 0; j < 3; j++)
                        {
                            if (i + j < Model.Count())
                            {
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="~/images/Glushka/(@Model[i + j].pic_num).jpg" style="min-height:128.8px" class="w-100" />
                                        </div>
                                        <div class="col-6">
                                            <h6 class="w-100" style="font-size:14px">
                                                <a asp-action="Details" asp-controller="Ispolniteli" asp-route-id="@Model[i+j].исполнитель.ID_исполнителя">
                                                    @Model[i + j].исполнитель.Фамилия @Model[i + j].исполнитель.Имя
                                                </a>
                                            </h6>
                                            <p style="font-size:12px; margin-bottom:0">@Model[i + j].коллективы.Название_коллектива</p>
                                            @for (int t = 0; t < Model[i + j].треки.Count(); t++)
                                            {
                                                <a class="w-100" asp-action="Details" asp-controller="Ispolniteli" asp-route-id="@Model[i+j].исполнитель.ID_исполнителя" style="font-size:12px; color:blue">@Model[i + j].треки.ElementAt(t).Название_трека</a><br>
                                                if (t == 0)
                                                {
                                                    break;
                                                }
                                            }
                                            <a class="w-100" asp-action="Details" asp-controller="Bands" asp-route-id="@Model[i+j].исполнитель.ID_исполнителя" style="font-size:11px; color:grey;margin-bottom:2px">
                                                @Model[i + j].альбомы.Count() альбомов
                                            </a><br>
                                            <a class="w-100" asp-action="Details" asp-controller="Bands" asp-route-id="@Model[i+j].исполнитель.ID_исполнителя" style="font-size:11px; color:grey">
                                                @Model[i + j].треки.Count() треков
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                break;
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>

        let data = {
            pattern: undefined,
        };
        function Search() {
            let request = new XMLHttpRequest();
            function reqReadyStateChanche() {
                if (request.readyState == 4 && request.status == 200) {
                    let response = request.responseText;
                    let div = document.getElementById('Ispolniteli');
                    while (div.firstChild) {
                        div.removeChild(div.firstChild);
                    }
                    div.innerHTML = div.innerHTML + response;
                }
            }
            let body = "";
            if (data.pattern != undefined) {
                body += "pattern=" + data.pattern;
            }
            request.open("POST", "/Ispolniteli/FilterIspolnitel");
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            request.onreadystatechange = reqReadyStateChanche;
            request.send(body);
        }
        function searchByLetter(element) {
            if (element.id == "All") {
                data.pattern = undefined;
            }
            else {
                data.pattern = element.id;
            }
            Search();
        }
    </script>
}